body {
  font-family: Arial;
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

section {
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 20px;
  border-radius: 8px;
}

label {
  display: block;
  margin-top: 10px;
}

button {
  margin-top: 10px;
  padding: 8px;
}